.wrapper {
  display: flex;
  background-color: #000000;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
* {
  font-family: "Cormorant Garamond", serif;
}
.title {
  display: flex;
  justify-content: center;
  color: #fff;
}
.box {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: 0em 3em;
  color: #fff;
}

.player {
  width: 400px;
  height: 400px;
  border-style: none;
}
p {
  color: #fff;
}

/* unvisited link */
a:link {
  color: #fff;
}

/* visited link */
a:visited {
  color: #fff;
}

/* mouse over link */
a:hover {
  color: #333;
}

/* selected link */
a:active {
  color: #fff;
}
